body {
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-bottom: 20px;
}

header .logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header .logo {
    width: 420px; /* Adjust width as needed */
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

header .logo.left {
    left: 0;
}

header .logo.right {
    right: 0;
}

h1 {
    margin: 0 auto;
}

footer {
    margin-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

h2 {
    margin-top: 0;
}
